@model BitTreeMarket.Model.PaymentOption

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PaymentOption</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PickUpOrder.PickUpOrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpOrder.PickUpOrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaymentOptionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
