@model BitTreeMarket.Model.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Corportation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Corportation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentOption.PaymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentOption.PaymentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating.Review)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating.Review)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesReward.SalesRewardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesReward.SalesRewardId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmallBusiness.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmallBusiness.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GMO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GMO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectedQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedQuantity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
